h1{
    font-family: Josefin Sans;
    font-weight: 100;
    font-style: italic;
}
body {
    background-color: antiquewhite;
  }

  h1 {
    color: whitesmoke;
    background-color: darkseagreen;
  }

  h2 {
    color: #FAF8F1;
    background-color: #C58940;
  }